*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
$backgrd-color: #2b1132;
$text-color: whitesmoke;
$large-text: 5rem;
$font: 'Oxygen', sans-serif;
$hover-color: rgb(206, 156, 156);

@mixin flexCenter($align) {
    display: flex;
    justify-content: center;
    align-items: $align;    
}

@mixin gridCenter {
    display: grid;
    place-content: center;
}

// General
body {
    @include gridCenter();
    height: 100vh;
    background-color: $backgrd-color;
    color: $text-color;
    text-align: center;
    padding: 2rem;
    font-family: $font;
}

.App {
    @include flexCenter(center);
    flex-direction: column;
}

button {
    border: transparent;
    background-color: transparent;
    color: $text-color;
    cursor: pointer;
}

// Headings
h1 {
    font-size: calc($large-text - 1rem);
    margin-bottom: 1rem;
    font-weight: 700;
    @media (max-width: 440px) {
        font-size: calc($large-text - 1.7rem);
    }
}

h2 {
    font-size: 1.5rem;
}

#timer-label {
    font-size: 2.5rem;
}

// Session and Break length section
.length-controls {
    @include flexCenter(center);
    gap: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.length-controls > div {
    background-color: $text-color;
    color: $backgrd-color;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 2px 10px $text-color;
    width: 180px;
    @media (max-width: 420px) {
        width: 150px;
    }
}

.length-controls > button {
    background-color: $text-color;
}

.inline {
    display: inline-block;
}

#break-length, #session-length {
    margin: 0 1rem;
}

.arrow-icon {
    fill: $backgrd-color;
    height: 15px;
}

.arrow-icon-large:hover,
.arrow-icon:hover {
    fill: $hover-color;
}

// Controls section
.arrow-icon-large{
    fill: $text-color;
    height: 30px;
    margin-left: 1rem;
    background-color: $backgrd-color;
}

// Timer section
.timer {
    border: 2px solid $text-color;
    border-radius: 50%;
    margin: 1.5rem;
    padding: 1rem;
    width: 250px;
    height: 250px;
    @include gridCenter();
}

.timer-glow {
    box-shadow: 0px 0px 10px white;
}
#time-left {
    font-size: $large-text;
    line-height: $large-text + 0.7rem;
}

// Footer
a {
    color: $text-color;
    text-decoration: none;
    border-bottom: 1px solid $text-color;
    &:hover {
        cursor: pointer;
        color: $hover-color;
        border-bottom: 1px solid $hover-color;
    }
}